<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-device-information" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0">
	<name>Device Information</name>
	<description>Cordova plugin to check all sorts of device information</description>
	<license>MIT</license>
	<keywords>device,information,cordova</keywords>

	<platform name="ios">
		<config-file target="*-Info.plist" parent="Bridging_Header">
			<string>$(SRCROOT)/$(PRODUCT_NAME)/Plugins/cordova-plugin-device-information/deviceInformation-Bridging-Header.h</string>
		</config-file>

		<config-file target="config.xml" parent="/*">
			<feature name="DeviceInformation">
				<param name="ios-package" value="DeviceInformation" />
			</feature>
		</config-file>

		<source-file src="src/ios/DeviceInformation.swift" />

		<source-file src="src/ios/deviceInformation-Bridging-Header.h" />
		
		<dependency id="cordova-plugin-add-swift-support"/>
	</platform>
	<platform name="android">
		<preference name="kotlin_version" default="1.9.10"/>

		<config-file target="config.xml" parent="/*">
			<preference name="android-minSdkVersion" value="21"/>
			<preference name="android-targetSdkVersion" value="33"/>
		</config-file>

		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="DeviceInformation">
				<param name="android-package" value="com.ademagroup.deviceinformation.DeviceInformation"/>
			</feature>
		</config-file>

		<source-file src="src/android/DeviceInformation.kt" target-dir="src/com/ademagroup/deviceinformation/" />

		<dependency id="cordova-plugin-androidx-adapter"/>
	</platform>

	<js-module src="www/deviceInformation.js" name="deviceInformation">
		<clobbers target="deviceInformation" />
	</js-module>

	<engines>
		<engine name="cordova" version=">=10.0.0" />
	</engines>
</plugin>